<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="static/css/style.css" rel="stylesheet"/>
        <style>
            body {
                background-color: #0A254C;
                font-family: 'Trebuchet MS';
                color: rgb(255, 255, 255);
            }
        </style>
        <title>Scott170 | 404</title>
    </head>

    <body>
      <div class="bounce">
        <div class="center_text">
            <h1>404 Error :(</h1>
        </div>  
      </div>
    </body>
</html>