<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scott170</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"/>
        <link href="static/css/hover.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet"/>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
        <script src="static/js/script.js"></script>
    </head>

    <style>
        body {
            background-color: #0A254C;
            font-family: 'Trebuchet MS';
            color: rgb(255, 255, 255);
        }

        .name {
          display: inline-block;
        }
    </style>

    <body>
        <div style="text-align:center">
            <div class="main">
                <img src="./static/assets/pfp.jpg" alt="Avatar" class="avatar hvr-rotate">
              <h1 class="name">&nbspHi I'm Scott
                <span class="wave">👋</span>
              </h1>
                <br>
                <a>I like to dabble in the arts of programming</a>
                <br>
                <br>
                <button
                    onclick="JavaScript:RedirectToGitHub()"
                    type="button"
                    class="button hvr-grow">
                    <i class="bi bi-github"></i>
                    GitHub</button>
                <br>
                <button
                    onclick="JavaScript:RedirectToReplit()"
                    type="button"
                    class="button hvr-grow">
                    <i class="bi bi-link-45deg"></i>
                    Replit</button>
                <br>
                <button onclick="JavaScript:CopyText()" type="button" class="button hvr-grow">
                    <i class="bi bi-discord"></i>
                    Discord</button>
                <br>
                <button
                    onclick="JavaScript:RedirectToInstagram()"
                    type="button"
                    class="button hvr-grow">
                    <i class="bi bi-instagram"></i>
                    Instagram</button>
                <br>
                <button onclick="JavaScript:SendEmail()" type="button" class="button hvr-grow">
                    <i class="bi bi-mailbox"></i>
                    Send me an Email</button>
                <br>
                <button onclick="JavaScript:Projects()" type="button" class="button hvr-grow">
                    <i class="bi bi-terminal"></i>
                    Projects</button>
            </div>
        </div>
    </body>